.filmList {
    box-sizing: border-box;
    margin: auto;
    display: grid;
    grid-template-columns: 451px 451px;
    grid-template-rows: 279px 279px;
    gap: 36px;
    background-color: #FFFFFF;
}

.filmList_block {
    display: block;
}

.alert{
    font-size: 24px;
}